.App {
  text-align: center;
  background-color: #9db3da;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 50px;
  
}
.navitems{
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  color: white;
}
.logo{
  width: 160px;
  height: 160px;
  background-image: url(../public/solariseLogo__1_-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heroimg{
  background-image: url(../public/pexels-scott-webb-430207.jpg);
  width: 90%;
  margin: auto;
  height: 500px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
hr{
  width: 90%;
  height: 4px;
  background-color: white;
  margin: auto;
  margin-bottom: 50px;
}
.largeText h1{
  font-size: 220px;
  letter-spacing: 65px;
  margin: auto;
  color: white;
  
}
.largeText{
  width: 90%;
  margin: auto;
}
.info{
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 150px;
 
}
.right{
  width: 50%;
  
}
.left{
  width: 50%;
  text-align: left;
}
.left h2{
  font-size: 64px;
  color: white;
  text-align: left;
}
.left p{
  font-size: 20px;
  
  margin: auto;
  line-height: 40px;
  text-align: left;
}
.left button{
  background-color: black;
  color: white;
  border-style: none;
  height: 60px;
  width: 180px;
  margin-top: 50px;
  
}
.img{
  width: 600px;
  height: 600px;
  background-image: url(./SolaRise-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  
}
.pricing h2{
  font-size: 64px;
  text-align: left;
  
  margin-bottom: 50px;
  margin-top: 50px;
}
.pricing{
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}
.pricingcontainer{
  background-color: white;
  padding: 30px 0 30px 0;
}
.contact{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.contactright h2{
  text-align: left;
  color: white;
  font-size: 64px;
}
.contactright p{
  text-align: left;
  width: 85%;
}
.contactleft{
  width: 50%;
  height: 400px;
  background-image: url(../public/socialSolarise1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 80%;
}
.footer{
  display: flex;
  justify-content: space-around;
  
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: white;
}
.icon{
  color: white;
  
}
.social{
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin-top: 60px;
  
}
.appicon{
  margin-right: 10px;
}
.card-body{
  height: 300px;
}
.mobilenav{
  display: none;
}
.mobilemenu{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  height: 100vh;
  line-height: 100px;
  font-size: 48px;
}
.closebtn{
  text-align: right;
  margin-right: 20px;
}

@media screen and (max-width: 980px) {
  .largeText h1{
    font-size: 80px;
    letter-spacing: 10px;
  }
  .info{
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .img{
    width: 90%;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .leftbtn{
    width: 100%;
    text-align: center;
  }
  .contactleft{
    display: none;
  }
  .social{
    margin-bottom: 60px;
    width: 100%;
  }
  .contactright h2{
    text-align: center;
  }
  .contactright p{
    text-align: center;
    width: 100%;
  }
  .navitems{
    display: none;
  }
  .mobilenav{
    display: block;
    margin-right: 20px;
  }
  .fa-bars{
    color: white;
  }
  hr{
    display: none;
  }
  
}



